.tee{
    margin-left: auto;
}
.text{
    align-content: center;
    padding: 10% 30%;
    color: rgb(253, 254, 255);
}

/* Social Icons ---Social Icons */
.social-icons-container{
    margin: 0 10px 15px;
}
.icons{
    font-size: 35px;
    margin-right: 10px;
}
.jumbo-top{
    font-size: 13px;
    margin-bottom: 0;
}
.jumbo-title{
    font-size: 76px;
    font-weight: 800;
    /* font-family: 'Cormorant Garamond', serif; */
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Oleo Script Swash Caps', cursive; */
    margin-bottom: 0;
}
.jumbo-text{
    font-family: 'Cormorant Garamond', serif;
    /* font-family: 'Dancing Script', cursive; */
    font-size: 20px;

}

@media (max-width: 778px) {
    /* JumboText---JumbText--- JumboText */
    .text{
        padding: 20% 10% 18%; 
    }
    /* Social Icons ---Social Icons */
    .social-icons-container{
        margin: 0 10px 0px;
    }
}