.top-div{
    
}
.tee{
    margin-left: auto;
}
.text{
    align-content: center;
    padding: 10% 30%;
    color: rgb(253, 254, 255);
}

/* Social Icons ---Social Icons */
.social-icons-container{
    margin: 0 10px 15px;
}
.icons{
    font-size: 35px;
    margin-right: 10px;
}